

<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="showLoader">
    <span class="sr-only"></span>
</div>
<div class="row custom-container mt-5" *ngIf="!showLoader">
    
    <div class="card col-md-5" style="padding: 1px;">
        <form [formGroup]="suveyForm" >
            <div class="card-header">
                <h3 class="text-center text-primary"> Survey Entry Form</h3>
            </div>
            <div class="card-body">
               
                    <div class="row mt-3 mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Question :</label>
                        </div>
                        <div class="col-md-10">
                            <select *ngIf="questionsList.length>0" class="form-select form-select-sm"  aria-label="Default select example" formControlName = "question" (change)="questionChange($event)">
                                <option value="" selected>Please Select Question</option>
                                <option id="{{question.id}}"  value="{{question.id}}" *ngFor="let question of questionsList;">{{question.questionValue}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Answers :</label>
                        </div>
                        <div class="col-md-10">
                            <select  class="form-select form-select-sm"  aria-label="Default select example" formControlName = "answer">
                                <option selected *ngIf="answersList.length == 0">Please Select Answer</option>
                                <option selected *ngIf="answersList.length > 0">Please Select Answer</option>
                                <option id="{{i}}" *ngFor="let item of answersList;index as i">{{item}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">State :</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select form-select-sm" aria-label="Default select example" (change)="stateChange($event)" formControlName = "state">
                                <option value="" selected>Please Select State</option>
                                <option *ngFor="let st of stateList" value="{{st.stateNo}}">{{st.stateValue}}</option>
                              </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Parlament :</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select form-select-sm" aria-label="Default select example" (change)="parlimentChange($event)" formControlName = "parliment">
                                <option value="" selected>Please Select Parlamemnt</option>
                                <option *ngFor="let parliment of parlimentList" value="{{parliment.parlimentNo}}">{{parliment.parlimentValue}}</option>
                              </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Constituency :</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select form-select-sm" aria-label="Default select example" (change)="constutionsChange($event)"  formControlName = "constituency">
                                <option value="" selected>Please Select Constituency</option>
                                <option *ngFor="let const of constutions" value="{{const.constutionNo}}">{{const.constutionValue}}</option>
                              </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">District :</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" readonly value="{{selectedDist?.districtValue}}" class="form-control form-select-sm" disabled/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Mandal :</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select form-select-sm" aria-label="Default select example"  formControlName = "mandal">
                                <option value="" selected>Select Mandal</option>
                                <option value="{{mand.id}}" *ngFor="let mand of mandals">{{mand.value}}</option>
                              </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Date :</label>
                        </div>
                        <div class="col-md-10">
                            <input type="date" class="form-control form-control-sm"  formControlName = "date"/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="control-label">Value:</label>
                        </div>
                        <div class="col-md-10">
                            <input type="number" class="form-control form-control-sm" formControlName = "value"/>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
               
                    <button type="button" class="btn btn-primary" (click)="saveData(mymodal)" [ngClass]="{'disabled':!suveyForm.valid}">Save</button>
                    <button type="reset" class="btn btn-dark">Reset</button>
                    <button type="reset" class="btn btn-info" (click)="redirection()">Close</button>
            </div>
        </form>
    </div>
  </div>

  <ng-template #mymodal let-modal>
    <app-modal [data]="result"></app-modal>
 </ng-template>