
<div class="spinner-border" role="status" *ngIf="showLoader">
  <span class="sr-only"></span>
</div>
<div class="row custom-container no-print">
  <form [formGroup]="suveyForm">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <label class="control-label">Question</label>
        </div>
        <div class="col-md-8" style="padding-left: 5px;" >
          <select class="form-select form-select-sm"  *ngIf="questionsList.length>0" aria-label="Default select example" formControlName = "question" (change)="questionChange($event)">
            <!-- <option selected>Please Select Question</option> -->
            <option value="" disabled selected>Please Select Question</option>
            <option id="{{question.id}}"  value="{{question.id}}" title="{{question.id}}" *ngFor="let question of questionsList">{{question.questionValue}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <span class="error" *ngIf="!suveyForm.controls['question'].valid">Please select Question</span>
          <!-- <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" data-size="sm" checked>
          </div> -->
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary btn-sm btnLogout" (click)="logout()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
              <path d="M7.5 1v7h1V1z"/>
              <path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 row">
          <div class="col-md-3">
            <label class="control-label">State</label>
          </div>
          <div class="col-md-9">
            <select class="form-select form-select-sm" aria-label="Default select example" (change)="stateChange($event)" formControlName = "state">
              <option value="" disabled selected>Please Select State</option>
              <option id="{{st.stateNo}}" *ngFor="let st of stateList" value="{{st.stateNo}}">{{st.stateValue}}</option>
            </select>
            <span class="error" style="position: absolute;" *ngIf="!suveyForm.controls['state'].valid">Please select State</span>
          </div>
        </div>
        <div class="col-md-4 row">
          <div class="col-md-3">
            <label class="control-label">Parlamemnt</label>
          </div>
          <div class="col-md-9 dispCheck">
            <select class="form-select form-select-sm" aria-label="Default select example" (change)="parlimentChange($event)" formControlName="parliment">
              <!-- <option selected>Please Select Parlamemnt</option> -->
              <option value="" disabled selected hidden>Please Select parliment</option>
              <option *ngFor="let parliment of parlimentList" value="{{parliment.parlimentNo}}">{{parliment.parlimentValue}}</option>
            </select>
            <span class="error" style="position: absolute;padding-top: 28px;padding-left: 2px;" *ngIf="!suveyForm.controls['parliment'].valid">Please select parliment</span>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="showConstution" data-size="sm" (change)="displayConstution($event)">
            </div>
          </div>
        </div>
        <div class="col-md-4 row" *ngIf="showConstution">
          <div class="col-md-3">
            <label class="control-label">Constituency</label>
          </div>
          <div class="col-md-9 dispCheck">
            <select class="form-select form-select-sm" aria-label="Default select example" (change)="constutionsChange($event)"  formControlName = "constituency">
              <!-- <option selected>Please Select Constituency</option> -->
              <option value="" disabled selected>Please Select constituency</option>
              <option *ngFor="let const of constutions" value="{{const.constutionNo}}">{{const.constutionValue}}</option>
            </select>
            <span class="error" style="position: absolute;padding-top: 28px;padding-left: 2px;" *ngIf="!suveyForm.controls['constituency'].valid">Please select constution</span>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" data-size="sm" (change)="displayDistMandal($event)">
            </div>
          </div>
        </div>
       
       
      </div>
      <div class="row mt-3" *ngIf="showConstution && showDistAndMandals">
        <div class="col-md-4 row">
          <div class="col-md-3">
            <label class="control-label">District</label>
          </div>
          <div class="col-md-9">
            <!-- <select class="form-select form-select-sm" aria-label="Default select example">
              <option selected>Select the District</option>
              <option *ngFor="let dist of districtList" value="{{dist.districtNo}}">{{dist.districtValue}}</option>
            </select> -->
            <input type="text" readonly value="{{selectedDist?.districtValue}}" class="form-control form-select-sm"  formControlName = "district"/>
          </div>
        </div>
        <div class="col-md-4 row">
          <div class="col-md-3">
            <label class="control-label">Mandal</label>
          </div>
          <div class="col-md-9">
            <select class="form-select form-select-sm" aria-label="Default select example" (change)="madalChange($event)" formControlName = "mandal">
              <!-- <option value="0" selected>Select Mandal</option> -->
              <option id="{{'MD'+mand.id}}" value="{{mand.id}}" *ngFor="let mand of mandals">{{mand.value}}</option>
            </select>
            <span class="error" style="position: absolute;padding-top: px;padding-left: 2px;" *ngIf="!suveyForm.controls['mandal'].valid">Please select mandal</span>
          </div>
        </div>
        <div class="col-md-4 row">
          <!-- <div class="col-md-3">
            <label class="control-label">Village/Ward</label>
          </div>
          <div class="col-md-9">
            <select class="form-select form-select-sm" aria-label="Default select example" disabled>
              <option selected>Select Village/Ward</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
          </div> -->
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 row">
          <div class="col-md-3">
            <label class="control-label">From Date</label>
          </div>
          <div class="col-md-9">
            <input type="date" class="form-control form-control-sm"  formControlName = "fromdate"/>
            <span class="error" style="position: absolute;padding-top: px;padding-left: 2px;" *ngIf="!suveyForm.controls['fromdate'].valid">Please From date</span>
          </div>
        </div>
        <div class="col-md-4 row">
          <div class="col-md-3">
            <label class="control-label">To Date</label>
          </div>
          <div class="col-md-9">
            <input type="date" class="form-control form-control-sm"  formControlName = "toDate"/>
            <span class="error" style="position: absolute;padding-top: px;padding-left: 2px;" *ngIf="!suveyForm.controls['toDate'].valid">Please From date</span>
          </div>
        </div>
        <div class="col-md-4 row">
        <div class="btnGrp">
            <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'disabled':!suveyForm.valid}" (click)="searchData()">Search </button>
            <button type="button" class="btn btn-success btn-sm" *ngIf="showList" [ngClass]="{'disabled':!suveyForm.valid}" (click)="printPage()">Print </button>
            <button type="button" class="btn btn-dark btn-sm" (click)="resetForm()">Clear </button>
        </div>
        </div>
      </div>
    </div>
  </form>

  
  
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <div id="chart-column"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-8">
      <ol id="menu" *ngIf="showList && selectedState != '0'">
        <li *ngIf="selectedState">State : <span class="fw400">{{findVal(selectedState,'state')}}</span></li>
        <li  *ngIf="selectedParliment">Parlament : <span class="fw400">{{findVal(selectedParliment,'parliment')}}</span></li>
        <li  *ngIf="selectedConstution">Constituency : <span class="fw400">{{findVal(selectedConstution,'Constituency')}}</span></li>
        <li *ngIf="selectedDist?.districtValue">District :<span class="fw400">{{selectedDist?.districtValue}}</span></li>
        <li *ngIf="selectedMandal">Mandal : <span class="fw400">{{findVal(selectedMandal,'mandal')}}</span></li>
      </ol> 
    </div>
</div>

<div class="toast align-items-center text-white bg-danger border-0" *ngIf="DisplayErrors.length > 0" [ngClass]="{'d-block':DisplayErrors.length > 0}" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      <ng-container *ngFor="let err of DisplayErrors">
        <span>{{err}}</span>
      </ng-container>
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" (click)="closeToast()"></button>
  </div>
</div>


<!--<div class="row">
   <div class="col-md-3" *ngFor="let student of studentArray;index as i">
      <div class="card">
          <div class="card-header">Name : {{student.studName}}</div> 
          <div class="card-body">Father Name : {{student.fName}}</div> 
          <div class="card-footer" style="display: flex;justify-content: space-around;">
              <button class="btn btn-primary" (click)="viewDetails(mymodal,student)">View</button>
              <button class="btn btn-primary" (click)="viewDetails(marksmodal,student)">Marks</button>
              <button class="btn btn-primary" (click)="viewDetails(profilemmodal,student)">Profile</button>
          </div>
        </div>
  </div> 
</div>-->

<!-- <ng-template #mymodal let-modal>
   <app-modal [data]="currentStudent"></app-modal>
</ng-template>
<ng-template #marksmodal let-modal>
  <app-modal [data]="currentStudent"></app-modal>
</ng-template>
<ng-template #profilemmodal let-modal>
  <app-modal [data]="currentStudent"></app-modal>
</ng-template> -->

